body { background: #A65000; }
.resultbox { background: #FFB673; }
a { text-decoration: none; color: #5a0b00; }
a:hover { color: #822216; }

img { width: 300px; margin: 0 auto 0 auto; }
button { color: #5a0b00; }
button a { text-decoration: none; }